<h1>Lists</h1>
<div>
  <ul>
<% @lists.each do |list| %>
  <li><%= list.name %>
  <%=link_to 'My list', list_path(list)%>
  <%=link_to 'Destroy', list_path(list),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></li>
<% end %>
  </ul>
<%=link_to 'Add list', new_list_path%>
</div>
